html,
body {
  box-sizing: border-box;
}

.mauY {
  color: darkmagenta;
}

#mauZ {
  color: rgb(235, 102, 102);
}

.maucuaR {
  color: cornflowerblue
}

.mauS {
  color: rgb(50, 136, 50)
}

.mauT {
  color: rgb(202, 97, 48)
}

.mauU {
  color: darkblue
}

.mauV {
  color: chocolate
}

#mauX {
  color: rgb(66, 56, 122)
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border: 1px solid #cacaca;
  height: 56px;
  padding: 12px;
}

.leftContent {
display: flex; 
align-items: center;
gap: 12px;
}

.rightContent {
display: flex;
align-items: center;
gap: 12px
;
}

/* .leftContent_logo {
margin-right: 12px;
} */
.avatar {
  border-radius: 50%;
}

.sidebarStyle {
ul {list-style: none;}
font-size: 22px;
    margin-top: 25px;
    background-color: rgb(227, 219, 235);
    transition: 0.5s;
    margin-left: 280px;
    position: absolute;

    height: 100%;
    position: fixed;
    left: 0%;
    top: 10%%;
    width: 350px;
    padding-top: 60px;
    transform: translateX(-250px);
}