html,
body {
  box-sizing: border-box;
}

.mauY {
  color: darkmagenta;
}

#mauZ {
  color: rgb(235, 102, 102);
}

.maucuaR {
  color: cornflowerblue
}

.mauS {
  color: rgb(70, 238, 70)
}

.mauT {
  color: burlywood
}

.mauU {
  color: darkblue
}

.mauV {
  color: chocolate
}

#mauX {
  color: darkslategray
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border: 1px solid #cacaca;
  height: 56px;
  padding: 12px;
}

.leftContent {
display: flex; 
align-items: center;
gap: 12px;
}

.rightContent {
display: flex;
align-items: center;
gap: 12px
;
}

/* .leftContent_logo {
margin-right: 12px;
} */
.avatar {
  border-radius: 50%;
}