.header{background-color: chartreuse;}

.mauY{background-color: darkmagenta;}

#mauZ{background-color:rgb(235, 102, 102);}

.maucuaR{background-color: cornflowerblue}

.mauS{background-color:rgb(70, 238, 70)}

.mauT{background-color:burlywood}

.mauU{background-color:darkblue}

.mauV{background-color: chocolate}

#mauX{background-color:darkslategray}